.projectHeaderDiv {
    background-color: #5F9EA0;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    position: relative;
    padding: 1px;
    color: white;
    text-align: center;
}

.projectHeader {
    position: relative;
    font-size: 18px;
    flex-grow: 4;
}

.menuItems {
    list-style: none;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 0;
    user-select: none;
}

.moreOptions {
    background-image: url("../icons/more-icon.svg");
    position: absolute;
    right: 10px;
    z-index: 999999 !important;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    display: inline-block;
    margin-top: 10px;
}

.toWebSite {
    background-image: url("../icons/link-out-icon.svg");
    position: absolute;
    right: 10px;
    z-index: 999999 !important;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    display: inline-block;
    margin-top: 10px;
}

.accountItems {
    list-style: none;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 0;
    user-select: none;
}

.aboutItems {
    list-style: none;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 0;
    user-select: none;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    background-color: #5F9EA0;
    margin-top: -8px;
    margin-left: -8px;
    width: 500px;
    position: relative;
    padding: 1px;
    color: white;
}

.backToMain {
    position: relative;
    padding-left: 17px;
    font-weight: normal;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    color: white;
    background-color: #5F9EA0;
    width: 41px;
    height: 21px;
    border-radius: 7px;
    left: 8px;
    flex-grow: 1;
}

.accountList>li {
    list-style-type: none;
}

.copyPassword {
    background-image: url("../icons/copy-password-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    user-select: none;
}

.backToMainIcon {
    background-image: url("../icons/more-icon.svg");
    filter: invert(100%) sepia(73%) saturate(2%) hue-rotate(149deg) brightness(109%) contrast(101%);
    transform: scaleX(-1);
    position: absolute;
    left: -8px;
    z-index: 999999 !important;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    display: inline-block;
}

.menuItems {
    list-style: none;
    line-height: 40px;
    text-decoration: none;
    display: block;
    padding: 0;
    user-select: none;
}

ul.menuItems {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    top: 5px;
    font-size: 14px;
}

li.clickable:hover {
    background-color: #5F9EA0;
    cursor: pointer;
}

ul.menuItems>li {
    padding-left: 10px;
}

ul.menuItems>li.header {
    border-bottom-style: solid;
    border-bottom-width: 1vh;
    border-color: #484848;
}

ul.menuItems>li>img {
    background-repeat: no-repeat;
    border-style: none;
    border-width: 0px;
    height: 20px;
    width: 20px;
    border: 0;
    margin-bottom: -5px;
}

.notificationSetting {
    background-image: url("../icons/notification-icon.svg");
}

.matchedPasswordSetting {
    background-image: url("../icons/matched-password-icon.svg");
}

.generatePasswordSetting {
    background-image: url("../icons/generate-password-icon.svg");
}

.changeMailSetting {
    background-image: url("../icons/change-email-icon.svg");
}

.mailSettingItem {
    list-style: none;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 0;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: #d9d9d9;
    user-select: none;
}

.passwordSettingsItem {
    list-style: none;
    line-height: 40px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    padding: 0;
    user-select: none;
}

.changePasswordSetting {
    background-image: url("../icons/change-password-icon.svg");
    background-repeat: no-repeat;
    background-position: 0px;
    background-size: 20px;
    padding-left: 30px;
    font-size: 14px;
}

.aboutText {
    font: normal 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    height: 75px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    user-select: none;
    color: black;
    white-space: initial;
    word-break: break-word;
    overflow-wrap: break-word;
}

.loginPageMain {
    background-color: #5F9EA0;
    margin-top: -8px;
    margin-left: -8px;
    width: 500px;
    height: 60px;
    position: relative;
    padding: 1px;
    color: white;
    user-select: none;
}

.signUpHeader {
    position: relative;
    left: -73px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: gray;
}

.loginEmailBox {
    position: relative;
    margin-top: 46px;
    margin-left: 10px;
    width: 63%;
    height: 35px;
    border: none;
    border-bottom: solid;
    border-color: gray;
    border-width: thin;
}

.loginEmailBox:focus {
    outline: none;
}

.loginPasswordBox {
    position: relative;
    margin-top: 11px;
    margin-left: 10px;
    width: 63%;
    height: 35px;
    border: none;
    border-bottom: solid;
    border-color: gray;
    border-width: thin;
}

.loginPasswordBox:focus {
    outline: none;
}

.loginButton {
    position: relative;
    margin-top: 41px;
    margin-left: 139px;
    width: 75px;
    height: 45px;
    background-color: #5F9EA0;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.forgotPassword {
    position: relative;
    margin-top: -4px;
    left: -73px;
    color: #5F9EA0;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

.signUpHeaderDiv {
    position: absolute;
    width: 100%;
    height: 46px;
    top: 0;
    left: 0;
    background-color: #5F9EA0;
    color: white;
    font-size: 20px;
    padding-left: 25px;
    line-height: 7px;
}

.signUpEmailDiv {
    position: relative;
    margin-top: 70px;
}

.signUpEmailBox {
    width: 90%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.userAgreement {
    font: normal 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    height: 75px;
    margin: 0px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    user-select: none;
}

.backToCreateEmail {
    margin-top: 50px;
    position: absolute;
    border: none;
    font-size: 13px;
    background-color: gray;
    margin-left: 40px;
    width: 100px;
    height: 42px;
    border-radius: 7px;
    color: white;
    user-select: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.createAccount {
    margin-top: 50px;
    margin-left: 180px;
    padding-bottom: 30px;
    border: none;
    background-color: #5F9EA0;
    font-size: 13px;
    color: white;
    text-align: center;
    width: 100px;
    height: 42px;
    border-radius: 7px;
    user-select: none;
    padding-top: 4px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signUpPasswordDiv {
    position: relative;
    margin-top: 70px;
}

.signUpPasswordBox {
    width: 90%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.signUpConfirmPasswordBox {
    width: 90%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 15px;
}

.passwordHintBox {
    width: 90%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 15px;
}

.finishCreateAccount {
    margin-top: 50px;
    margin-left: 250px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: #5F9EA0;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #5F9EA0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 999999 !important;
    position: relative;
    margin: 36%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.resetPasswordMain {
    background-color: #5F9EA0;
    margin-top: -8px;
    margin-left: -8px;
    width: 500px;
    height: 60px;
    position: relative;
    padding: 1px;
    color: white;
}

.resetPasswordHeader {
    position: absolute;
    font-size: 16px;
    margin-left: 20px;
    top: 7px;
}

.resetPasswordSpan {
    position: relative;
    top: 120px;
    text-align: center;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 80px;
    display: table;
    color: black;
}

.resetPasswordInput {
    position: relative;
    top: 135px;
    margin-left: 50px;
    text-align: center;
    display: block;
    width: 250px;
    height: 25px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-bottom: solid;
    border-width: thin;
    border-color: gray;
}

.resetPasswordInput:focus {
    outline: none;
}

.resetPasswordCancel {
    position: relative;
    top: 190px;
    display: block;
    margin: auto 65px auto 80px;
    border: none;
    width: 75px;
    height: 30px;
    background-color: gray;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 7px;
    cursor: pointer;
}

.resetPasswordSubmit {
    position: relative;
    top: 160px;
    display: block;
    margin: auto 175px auto;
    border: none;
    width: 75px;
    height: 30px;
    background-color: #5F9EA0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 7px;
    cursor: pointer;
}